<!DOCTYPE html>
<html lang="en">
    {{> header }}
  <body>
  
    {{> navbar }}

    <div class="container">
      <div class="text">UserProfile</div>
      <form action="#">
        <div class="data">
          <label for="age">Age</label>
          <input type="number" name="age" id="age" />
        </div>
        <div class="data">
          <label for="contact">contactno</label>
          <input type="number" name="contact" id="contact" />
        </div>
        <div class="data">
          <label for="DOB">DOB</label>
          <input type="date" name="DOB" id="DOB" />
        </div>
        <div class="data">
          <label for="city">city</label>
          <input type="text" name="city" id="city" />
        </div>

        <div class="btn">
          <button type="submit">submit</button>
        </div>
        
  </body>
</html>